manifest {
  name = 'mr-pipeline'
  author = 'Sergio'
  description = 'MR harmonization, estimation, colocalization and gather steps'
  version = '0.1.0'
}

params {
  mode          = 'pQTL'
  container     = '/mnt/nfs_home/smartinez/images/mr_pipeline_250603.sif'
  outdir        = 'nf_results'
  run_harmonize = false
  run_estimate  = true
  run_coloc     = false
  run_gather    = false
  n_is          = 3
  n_chunks      = 20
  bioinf_root   = '/mnt/nfs_home/smartinez/Bioinformatics'
}

process {
  executor = 'local'
  shell = ['/bin/bash', '-euo', 'pipefail']
  errorStrategy = 'terminate'
  env.BIOINF_ROOT = params.bioinf_root
}

profiles {
  standard {
    includeConfig 'conf/base.config'
  }

  slurm {
    includeConfig 'conf/base.config'
    includeConfig 'conf/slurm.config'
  }

  apptainer {
    includeConfig 'conf/apptainer.config'
  }
}


includeConfig 'conf/base.config'