process {
  container = params.container
}

apptainer {
  enabled = true
  autoMounts = true
  cacheDir = "$HOME/.apptainer"
  runOptions = '--bind /mnt/nfs_home:/mnt/nfs_home,/dev/shm:/dev/shm,/mnt/proteome:/mnt/proteome,/tmp:/tmp,/mnt/nfs_home/smartinez/Bioinformatics/Projects/Internal_Projects/2026_IMX_TargetIdentification_vMR3/renv/library/linux-ubuntu-noble/R-4.5/x86_64-pc-linux-gnu:/renv'
}