process {
  executor = 'slurm'
  queue = 'xeon'
  clusterOptions = '--output=/dev/null --error=/dev/null'

  withName: HARMONIZE {
    cpus = 1
    memory = '6 GB'
    time   = '1h'
  }

  withName: ESTIMATE {
    cpus = 1

    memory = {
      def mem = 7.GB * task.attempt
      mem > 24.GB ? 24.GB : mem
    }

    time = {
      def t = 14.h * task.attempt
      t > 24.h ? 24.h : t
    }

    errorStrategy = {
      task.exitStatus in [137, 140, 143, 104] ? 'retry' : 'terminate'
    }

    maxRetries = 3
    maxForks = 40
  }

  withName: COLOC {
    cpus = 1

    memory = {
      def mem = 8.GB * task.attempt
      mem > 32.GB ? 32.GB : mem
    }

    time = {
      def t = 6.h * task.attempt
      t > 24.h ? 24.h : t
    }

    errorStrategy = {
      task.exitStatus in [137, 140, 143, 104] ? 'retry' : 'terminate'
    }

    maxRetries = 3
    maxForks = 20
  }
}